## **Homework 2: Basic Markdown, Python Variables, Math Operations, User Input, and PEMDAS**

This homework is designed to enhance your understanding of several fundamental concepts in Python and Jupyter Notebooks, including Markdown formatting, variable assignment, basic mathematics operations, handling user input, and the order of operations (PEMDAS).

**Instructions:**
- Answer each question in the notebook, using a Markdown cell for explanations and a code cell for Python code.
- Ensure to execute your Python code to display the answers where applicable.

In [13]:
## This Code prints out Hello, World


print("Hello, World!")

Hello, World!

1. Show what Markdown is used for in Jupyter Notebooks.

- Bullet points
- Bullet points

2. Show how to format text to be bold in Markdown? Provide an example.

**This text will be bold**

3. Create a Python variable named `a` and assign it the value 5.

In [14]:
a = 5
print(a)

5

4. Perform an addition operation with any two numbers and display the result.

In [15]:
result = 15 + 13
print(result)

28

5. Divide 15 by 3 and show the result.

In [16]:


result = 15 / 3

print("The result is:", result)

The result is: 5.0

6. Use the `input()` function to ask the user for their name and then greet them.

In [17]:
name = input("Hello! What's your name? ")
print("Hello,", name + "!")

Hello! What's your name? Aelroe
Hello, Aelroe!

7. Calculate the square of 7 and display the result.

In [18]:
result = 7 ** 2
print("Square of 7 is:", result)

Square of 7 is: 49

8. Ask the user for a number, multiply it by 2, and display the result.

In [19]:
number = float(input("Enter a number: "))
result = number * 2
print("The result of multiplying", number, "by 2 is:", result)

Enter a number: 11
The result of multiplying 11.0 by 2 is: 22.0

9. Write a program that converts time from hours to seconds. Ask the user to input the time in hours, and then convert that time into seconds. Remember, 1 hour equals 3600 seconds.

In [20]:
hours = float(input("Enter the time in hours: "))

seconds = hours * 3600

print(f"{hours} hours is equal to {seconds} seconds.")

Enter the time in hours: 11
11.0 hours is equal to 39600.0 seconds.

10. Evaluate the expression `3 * (4 + 5) - 6 / 2` and display the result.

In [21]:
result = 3 * (4 + 5) - 6 / 2

print("The result of the expression 3 * (4 + 5) - 6 / 2 is:", result)

The result of the expression 3 * (4 + 5) - 6 / 2 is: 24.0

11. Assign the string 'Python' to a variable and print it.

In [22]:
the_string = 'Python'
print(the_string)

Python

12. Calculate the remainder when 22 is divided by 5.

In [23]:
remainder = 22 % 5
print("The remainder when 22 is divided by 5 is", remainder)

The remainder when 22 is divided by 5 is 2


13. Ask the user for two numbers, add them together, and display the sum.

In [24]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum = num1 + num2
print(f"The sum of {num1} and {num2} is: {sum}")

Enter the first number: 15
Enter the second number: 13
The sum of 15.0 and 13.0 is: 28.0

14. Write a Python code snippet that takes user input and prints the type of the input variable.

In [25]:
the_input = input("Enter something: ")
theinput_type = type(the_input)
print("The type of the input variable is:", theinput_type)

Enter something: Aelroe
The type of the input variable is: <class 'str'>

15. Calculate the product of 8 and 12, then subtract 4 and display the result.

In [26]:
product = 8 * 12
result = product - 4
print("Result is:", result)

Result is: 92

16. Explain the difference between `==` and `=` in Python.

== is used to compare the equality of two values and = is used for variable assignment

In [27]:
x = 5
y = 5
print(x == y)

True

17. Use Python to find the floor division of 100 by 11.

In [28]:
result = 100 // 11
print(result)

9

18. Ask the user for a number, then calculate the square of that number.

In [29]:
number = float(input("Enter a number: "))
square = number ** 2
print(square)

Enter a number: 11
121.0

19. What does the `%` operator do in Python? Provide an example.

It returns the remainder of the division operation between two numbers.

In [30]:
remainder = 10 % 3
print(remainder)

1

20. Using variables, demonstrate how to calculate and print the area of a rectangle (length * width).

Lets for example take length = 4 width = 5

In [31]:
length = 4
width = 5
area = length * width
print("The area of the rectangle with length", length, "and width", width, "is:", area)

The area of the rectangle with length 4 and width 5 is: 20